* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

h2,h3 {
  font-family: 'Slabo 27px', serif;
  font-weight: bold;
}

body {
  background-color: #31363B;
  margin-top: 120px;
}

/*
.fa-linkedin::after {
  background-color: #0072b1;;
}*/

/* .fa-linkedin {
  color: #0072b1;
}

.fa-envelope {
  color: white;
} */

.fa-linkedin, .fa-square-github, .fa-envelope {
  color: #171515;
}

/* Removing anchor tag link text decorations */
a {
  text-decoration: none;
}

/* makes the fragment identifiers colored white */
.frag-id a {
  color: white;
}

/* h2, h3, p, h4 {
  margin: 0;
} */

h2, h3, h4, .skill-list, .link-container {
  text-align: center;
}

h2,h3 {
  padding-top: 20px;
}

h4 {
  font-weight: bold;
}

.experience-container {
  z-index: 1;
  background-color: gray;
  margin-top: 15px;
  margin-bottom: 15px;
}

.skill-container {
  z-index: 2;
  background-color: #7F7D9C;
  padding-top: 10px;
  padding-bottom: 10px;
}

.experience-container, .skill-container {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  list-style-position: inside;
}

li.skill-item {
  margin: 15px 0px 15px 0px;
  /* padding-right: 15px; */
  list-style-type: '➜';
  position: relative;
}

.skill-list {
  padding-left: 1em;
}

.link-container {
  display: block;
}

.link-button {
  /* display: block; */
  margin: 0 auto;
  /* text-align: center; */
  margin: 50px;
  border: solid 5px;
  border-radius: 8px;
  font-size: 32px;
}

.link-button:hover,a:hover {
  color: red;
}

.link-button:active,a:active {
  color: blue;
}

figure {
  border: 2px black solid;
  overflow: auto;
}

footer {
  color: white;
  text-align: center;
}

@media screen and (max-width: 767px) {

  .experience-container, .skill-container {
    width: 250px;
  }

  body {
    margin-top: 120px;
  }

  .link-button {
    font-size: 16px;
  }

}