<<<<<<< HEAD
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: orangered;
  justify-content: space-around;
}

/* img.portrait {
  width: 100px;
  border-radius: 50px;
  Making the border-radius declaration half of the pixel size of the width makes the image appear circular
}
*/

#name-text-holder {
  text-align: center;
  margin: 50px;
}

.fa-envelope, .fa-linkedin, .fa-square-github {
  font-size: 100px;
}

/*
.fa-linkedin::after {
  background-color: #0072b1;;
}*/

.fa-linkedin {
  color: #0072b1;
}

.fa-envelope {
  color: white;
}

.fa-square-github {
  color: #171515;
}

/* Removing anchor tag link text decorations */
a {
  text-decoration: none;
}

/* makes the fragment identifiers colored white */
.frag-id a {
  color: white;
}

/* hides the unordered list item bullet points */
.frag-id {
  list-style-type: none;
}

h2, h3, p, h4 {
  margin: 0;
}

h2, h3, p, h4, .skill-list {
  text-align: center;
}

h3 {
  color: red;
}

li.skill-item {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: none;
}

.link-container {
  text-align: center;
}

.link {
  margin: 0px;
}

.link-button {
  margin: 50px;
  border-radius: 8px;
  font-size: 32px;
=======
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

h2,h3 {
  font-family: 'Slabo 27px', serif;
  font-weight: bold;
}

body {
  background-color: #31363B;
}

/*
.fa-linkedin::after {
  background-color: #0072b1;;
}*/

.fa-linkedin {
  color: #0072b1;
}

.fa-envelope {
  color: white;
}

.fa-square-github {
  color: #171515;
}

/* Removing anchor tag link text decorations */
a {
  text-decoration: none;
}

/* makes the fragment identifiers colored white */
.frag-id a {
  color: white;
}

/* h2, h3, p, h4 {
  margin: 0;
} */

h2, h3, h4, .skill-list, .link-container {
  text-align: center;
}

h2,h3 {
  padding-top: 20px;
}

h4 {
  font-weight: bold;
}

.experience-container {
  z-index: 1;
  background-color: gray;
  margin-top: 15px;
  margin-bottom: 15px;
}

.skill-container {
  z-index: 2;
  background-color: #7F7D9C;
  padding-top: 10px;
  padding-bottom: 10px;
}

.experience-container, .skill-container {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  list-style-position: inside;
}

li.skill-item {
  margin: 15px 0px 15px 0px;
  /* padding-right: 15px; */
  list-style-type: 'âœ';
  position: relative;
}

.skill-list {
  padding-left: 1em;
}

.link-container {
  display: block;
}

.link-button {
  /* display: block; */
  margin: 0 auto;
  /* text-align: center; */
  margin: 50px;
  border: solid 5px;
  border-radius: 8px;
  font-size: 32px;
}

.link-button:hover,a:hover {
  color: red;
}

.link-button:active,a:active {
  color: blue;
}

figure {
  border: 2px black solid;
  overflow: auto;
>>>>>>> 04f445e (first commit)
}